@model DocumentSystemApp.Data.Entities.ChangeRequestForm

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChangeRequestForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SPRS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SPRS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeRequestID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeRequestID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeRequestDescrpition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeRequestDescrpition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriorityEmergency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriorityEmergency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriorityRoutine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriorityRoutine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriorityNextVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriorityNextVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitiatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitiatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignatureDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignatureDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationHardware)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfigurationHardware)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationSoftware)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfigurationSoftware)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationSystemDocumentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfigurationSystemDocumentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationUserTraining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfigurationUserTraining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationFirmware)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfigurationFirmware)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType1NewRequirement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType1NewRequirement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType1RequirementChange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType1RequirementChange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType1DesignChange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType1DesignChange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType1Other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType1Other)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType1BugFixing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType1BugFixing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType2Commercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType2Commercial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType2Investment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType2Investment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeType2Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeType2Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bImpactAssessmentToA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bImpactAssessmentToA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImpactAssessmentToA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpactAssessmentToA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bImpactAssessmentMA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bImpactAssessmentMA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImpactAssessmentMA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpactAssessmentMA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bImpactAssessmentDC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bImpactAssessmentDC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImpactAssessmentDC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpactAssessmentDC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bImpactAssessmentTtE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bImpactAssessmentTtE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImpactAssessmentTtE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpactAssessmentTtE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bImpactAssessmentOth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bImpactAssessmentOth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImpactAssessmentOth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpactAssessmentOth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeAccept)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeAccept)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeReject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeReject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeJustification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeJustification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHARole1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHARole1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAPrintName1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAPrintName1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHASignatureDate1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHASignatureDate1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHARole2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHARole2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAPrintName2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAPrintName2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHASignatureDate2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHASignatureDate2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHARole3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHARole3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAPrintName3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAPrintName3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHASignatureDate3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHASignatureDate3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SummaryofResults)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SummaryofResults)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attachments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FARole1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FARole1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FAPrintName1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FAPrintName1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FASignatureDate1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FASignatureDate1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FARole2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FARole2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FAPrintName2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FAPrintName2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FASignatureDate2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FASignatureDate2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FARole3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FARole3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FAPrintName3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FAPrintName3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FASignatureDate3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FASignatureDate3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdaterUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdaterUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChangeRequestFormId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
